body{background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Oswald", sans-serif;
 
}

.forecast-app{
    background-color:white ;
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow:#F5F1FE ;


}